/.claude/
/.direnv/
/.vscode/
/a.out
/cabal.project.*
/dist-newstyle/
/extra/vscode/node_modules/
/extra/vscode/out/
/extra/vscode/wasm/
/extra/vscode/*.vsix
/extra/github-pages/dist/
/extra/wasm/dist/
