* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  display: flex;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

.pane {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.input-pane {
  border-right: 1px solid #ccc;
}

.input-pane textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  resize: none;
  font-family: monospace;
  font-size: 14px;
  tab-size: 2;
}

.output-pane {
  padding: 1rem;
}
