name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch: {}
jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    needs: meta
    strategy:
      matrix:
        os:
          - macos
          - ubuntu
          - windows
    steps:
      - uses: actions/checkout@v6
      - id: haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: 9.14.1
      - run: mkdir artifact
      - run: ghc-pkg list
      - run: cabal sdist --output-dir artifact
      - run: cabal configure --enable-tests --flags=pedantic --jobs
      - run: cat cabal.project.local
      - run: cp cabal.project.local artifact
      - run: cabal freeze
      - run: cat cabal.project.freeze
      - run: cp cabal.project.freeze artifact
      - run: cabal outdated --v2-freeze-file
      - uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-${{ hashFiles('cabal.project.freeze') }}
          path: ${{ steps.haskell.outputs.cabal-store }}
          restore-keys: ${{ runner.os }}-
      - run: cabal build --only-download
      - run: cabal build --only-dependencies
      - run: cabal build
      - run: cp $( cabal list-bin ${{ needs.meta.outputs.name }} ) artifact
      - run: cp $( cabal list-bin ${{ needs.meta.outputs.name }}-test-suite ) artifact
      - run: artifact/${{ needs.meta.outputs.name }}${{ runner.os == 'Windows' && '.exe' || '' }} --schema > artifact/schema.json
        shell: bash
      - run: tar --create --file artifact.tar --verbose artifact
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ needs.meta.outputs.name }}-${{ github.sha }}-${{ runner.os }}
          path: artifact.tar
      - run: echo | artifact/${{ needs.meta.outputs.name }}${{ runner.os == 'Windows' && '.exe' || '' }}
        shell: bash
  cabal:
    name: Cabal
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cabal check
  gild:
    name: Gild
    runs-on: ubuntu-latest
    needs: meta
    steps:
      - uses: actions/checkout@v6
      - uses: tfausak/cabal-gild-setup-action@v2
      - run: cabal-gild --input ${{ needs.meta.outputs.name }}.cabal --mode check
  hlint:
    name: HLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/hlint-setup@v2
      - uses: haskell-actions/hlint-run@v2
        with:
          fail-on: status
  meta:
    name: Meta
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: name
        run: "echo name=$( awk '/^name:/ {print $2}' *.cabal ) >> $GITHUB_OUTPUT"
      - id: version
        run: "echo version=$( awk '/^version:/ {print $2}' *.cabal ) >> $GITHUB_OUTPUT"
    outputs:
      name: ${{ steps.name.outputs.name }}
      version: ${{ steps.version.outputs.version }}
  ormolu:
    name: Ormolu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/run-ormolu@v17
  test:
    name: Test
    runs-on: ubuntu-latest
    needs:
      - build
      - meta
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: ${{ needs.meta.outputs.name }}-${{ github.sha }}-${{ runner.os }}
      - run: tar --extract --file artifact.tar --verbose
      - run: artifact/${{ needs.meta.outputs.name }}-test-suite
  wasm:
    name: WASM
    runs-on: ubuntu-latest
    needs: meta
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - run: nix develop --command wasm32-wasi-cabal update
      - run: nix develop --command extra/wasm/build.hs
      - run: mkdir artifact
      - run: cp extra/wasm/dist/${{ needs.meta.outputs.name }}-wasm.wasm artifact
      - run: cp extra/wasm/dist/ghc_wasm_jsffi.js artifact
      - run: cp extra/github-pages/vendor/browser_wasi_shim.js artifact
      - run: nix develop --command wasm32-wasi-cabal --project-file=extra/wasm/cabal.project build ${{ needs.meta.outputs.name }}-wasi
      - run: cp $( nix develop --command wasm32-wasi-cabal --project-file=extra/wasm/cabal.project list-bin ${{ needs.meta.outputs.name }}-wasi ) artifact
      - run: tar --create --file artifact.tar --verbose artifact
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ needs.meta.outputs.name }}-${{ github.sha }}-wasm
          path: artifact.tar
      - run: echo | nix develop --command wasmtime artifact/${{ needs.meta.outputs.name }}-wasi.wasm
  vscode:
    name: VSCode
    runs-on: ubuntu-latest
    needs:
      - meta
      - wasm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: ${{ needs.meta.outputs.name }}-${{ github.sha }}-wasm
      - run: tar --extract --file artifact.tar
      - run: mkdir -p extra/wasm/dist
      - run: cp artifact/${{ needs.meta.outputs.name }}-wasm.wasm extra/wasm/dist/
      - run: cp artifact/ghc_wasm_jsffi.js extra/wasm/dist/
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - working-directory: extra/vscode
        run: ./build.sh
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ needs.meta.outputs.name }}-${{ github.sha }}-vscode
          path: extra/vscode/*.vsix
  github-pages:
    name: GitHub Pages
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs:
      - meta
      - wasm
    concurrency:
      group: github-pages
      cancel-in-progress: true
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: ${{ needs.meta.outputs.name }}-${{ github.sha }}-wasm
      - run: tar --extract --file artifact.tar
      - run: mkdir -p extra/wasm/dist
      - run: cp artifact/${{ needs.meta.outputs.name }}-wasm.wasm extra/wasm/dist/scrod-wasm.wasm
      - run: cp artifact/ghc_wasm_jsffi.js extra/wasm/dist/
      - run: extra/github-pages/build.sh
      - uses: actions/upload-pages-artifact@v4
        with:
          path: extra/github-pages/dist/
      - id: deploy
        uses: actions/deploy-pages@v4
  release:
    name: Release
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs:
      - build
      - meta
      - vscode
      - wasm
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          pattern: ${{ needs.meta.outputs.name }}-${{ github.sha }}-*
      - run: .github/workflows/release.sh ${{ needs.meta.outputs.name }} ${{ needs.meta.outputs.version }} ${{ github.sha }}
      - env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create ${{ needs.meta.outputs.version }} --draft --generate-notes --target ${{ github.sha }} ${{ needs.meta.outputs.name }}-*.tar.gz ${{ needs.meta.outputs.name }}-*.json *.vsix
